.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;   
    z-index: 1000;
}

.menu-toggle {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1001;
    background-color: white;
    border-radius: 5px;    
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.menu-toggle span {
    display: block;
    width: 100%;
    height: 3px;
    background: black;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;   
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;  
    align-self: center;
    list-style: none;
    margin: 0;
    padding: 20px;   
    z-index: 1001;
    width: 100%;
    gap: 25px;
}

.nav-links li {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;   
   
   
}

.nav-link {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    
    
}   

.nav-link:hover {
    color: black;
    font-weight: bold;
}

.nav-link.active {
    color: black;
    font-weight: bold;   
    
}

.nav-link.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: red;
    margin-top: 5px;
    border-radius: 2px;
    
}



.lang{
    position: fixed;
    top: 80px;
    right: 25px;
    z-index: 99999;
    color: black    ; 
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

.lang:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    
}

[data-theme="dark"] .lang {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}   

[data-theme="dark"] .lang:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}   


@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;       
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        background-color: rgba(255, 255, 255, 1);
    }

    .nav.active {
        left: 0;
        background-color: var(--color-bg-light);
    }

    [data-theme="dark"] .nav.active {
        background-color: var(--color-bg-dark);
    }

    .nav-links {
        align-items: center; 
        position: relative;  
        left: 0;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        gap: 40px;
    }

    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -6px);
    }



}
